In [1]:
import pandas as pd 
import matplotlib as mpl 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [53]:
df1 = pd.read_csv('UN_Net_Migration.csv', header=0, error_bad_lines=False, usecols=[0,1,2], names=['Country','Year','Net_Migration'])

In [49]:
df2 = pd.read_csv('UN_Percent_using_internet.csv', header=0, error_bad_lines=False, usecols=[0,1,2], skipfooter=191, engine='python', names=['Country','Year','Internet_Users_Pct'])

Skipping line 4675: ',' expected after '"'. Error could possibly be due to parsing errors in the skipped footer rows (the skipfooter keyword is only applied after Python's csv library has parsed all rows).

In [54]:
merge_df = pd.merge(df1, df2,  how='left', left_on=['Country','Year'], right_on = ['Country','Year'])

In [55]:
merge_df.head(n=5)

       Country  Year  Net_Migration  Internet_Users_Pct
0  Afghanistan  2012         473007            5.454545
1  Afghanistan  2007        -677497            1.900000
2  Afghanistan  2002         804120            0.004561
3  Afghanistan  1997        -379474                 NaN
4  Afghanistan  1992        2227474                 NaN

In [56]:
merge_df.tail(n=5)

       Country  Year  Net_Migration  Internet_Users_Pct
2370  Zimbabwe  1982         141524                 NaN
2371  Zimbabwe  1977        -101516                 NaN
2372  Zimbabwe  1972         -30360                 NaN
2373  Zimbabwe  1967         -27996                 NaN
2374  Zimbabwe  1962         -10001                 NaN

In [64]:
#select only years 2002, 2007, 2012
keep = ['2002','2007','2012']
Year = keep

In [62]:
merge_df.head(n=10)

       Country  Year  Net_Migration  Internet_Users_Pct
0  Afghanistan  2012         473007            5.454545
1  Afghanistan  2007        -677497            1.900000
2  Afghanistan  2002         804120            0.004561
3  Afghanistan  1997        -379474                 NaN
4  Afghanistan  1992        2227474                 NaN
5  Afghanistan  1987       -1484185                 NaN
6  Afghanistan  1982       -3418299                 NaN
7  Afghanistan  1977       -1117459                 NaN
8  Afghanistan  1972         -20000                 NaN
9  Afghanistan  1967         -20000                 NaN

In [65]:
type(merge_df[0:2])

pandas.core.frame.DataFrame

In [66]:
type('Country')

str

In [67]:
type.merge_df('Year')

AttributeError: type object 'type' has no attribute 'merge_df'